name: BrandMind AI CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv and enable caching
        uses: astral-sh/setup-uv@v1
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: make install-all

      - name: Run type checking, linting
        run: make typecheck

      - name: Run secrets scan
        run: make secrets-scan

      - name: Run unit tests
        run: make test-unit
